<!DOCTYPE html>
<html lang="en">
<head>
  {{> head-metadata }}
  <link rel="stylesheet" href="./cover-letter.min.css">
  <title>{{ name }} | Cover Letter</title>
</head>
<body>
  <div id="page">
    {{> header }}
    {{{ body }}}
  </div>
</body>
</html>