<!DOCTYPE html>
<html lang="en">
<head>
  {{> head-metadata }}
  <title>{{ name }} | Resume</title>
</head>
<body>
  {{> header }}

  <section>
    <h2>Section One</h2>
  </section>

  <section>
    <h2>Section Two</h2>
  </section>
</body>
</html>