<!DOCTYPE html>
<html lang="en">
<head>
  {{> head-metadata }}
  <link rel="stylesheet" href="./cover-letter.css">
  <title>{{ _shared.name }} | Cover Letter</title>
</head>
<body>
  <div id="page">
    {{> page-header }}
    {{{ _md }}}
  </div>
</body>
</html>
