<h1>{{ _shared.name }}</h1>

{{#if _shared.contacts}}
  <div id="contact-grid">
    {{#each _shared.contacts}}
      <div class="contact-entry">
        {{{ fa-icon icon.style icon.name }}}
        <a href="{{{ url }}}">{{{ text }}}</a>
      </div>
    {{/each}}
  </div>
{{/if}}
