{{! The left-hand block }}
{{#if header }}
<div><h3>{{{ header }}}</h3></div>
{{/if}}

{{! The right-hand block }}
<div>
  {{#each entries}}
    {{#if title }}
      <h4>{{{ title }}}</h4>
    {{/if}}
    <div class="body-text">{{{markdown body }}}</div>
  {{/each}}
</div>